<footer>
    <a href="#top" class="scroll-top"><i class="fa fa-long-arrow-up" aria-hidden="true"></i></a>
    <div class="copyright">
        <span>© <%=theme.since%> - <%= date(Date.now(), 'YYYY') %> </span> <span>由 Hexo 强力驱动</span> <span>主题 - WhyL</span>
    </div>
    <div class="analysis">
        <%- partial('third-party/analytics/busuanzi-counter') %>
    </div>
</footer>