<% if (is_home() && is_current('index.html')) { %>
    <% if (theme.instagram.enable) { %>
        <%- js('js/instafeed.min') %>
        <script>
            var userFeed = new Instafeed({
            get: 'user',
            userId: '<%=theme.instagram.userId%>',
            accessToken: '<%=theme.instagram.accessToken%>',
            sortBy: '<%=theme.instagram.sortBy%>',
            limit: 16,
            resolution: 'standard_resolution',
            template: '<a class="instagram-img"><div style="background: url({{image}}) no-repeat center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;"></div></a>'
            });
            userFeed.run();
        </script>

        <script>
            $('.inslink').click(function(){
                $('.index-profile').hide();
                $('.prolink').removeClass('on');
                $('.index-instagram').show();
                $('.inslink').addClass('on');
            })
            $('.prolink').click(function(){
                $('.index-profile').show();
                $('.prolink').addClass('on');
                $('.index-instagram').hide();
                $('.inslink').removeClass('on');
            })
        </script>
    <% } %>
<% } %>