// Config
support-for-ie = false
vendor-prefixes = webkit moz ms official

// Colors

color-default = #555
color-white = #fff
color-black = #2c3e50
color-grey = #7f8c8d
color-border = #ddd

color-link = #258fb8
color-background = #eee

// Fonts
font-layout = "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif
font-verdana = 'Verdana', sans-serif
font-song = 'Fang Song', 'Song','STSong', sans-serif

// Media queries
mq-mobile = "screen and (max-width: 479px)"
mq-tablet = "screen and (min-width: 480px) and (max-width: 767px)"
mq-normal = "screen and (min-width: 768px)"