<% if (post.prev || post.next){ %>
<nav id="article-nav">
  <% if (post.prev){ %>
    <a href="<%- url_for(post.prev.path) %>" class="article-nav-left">
      <div class="article-nav-title">
        <% if (post.prev.title){ %>
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
          <%= post.prev.title %>
        <% } else { %>
          (no title)
        <% } %>
      </div>
    </a>
  <% } %>
  <% if (post.next){ %>
    <a href="<%- url_for(post.next.path) %>" class="article-nav-right">
      <div class="article-nav-title">
        <%= post.next.title %>
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </div>
    </a>
  <% } %>
</nav>
<% } %>