.archive 
    width: 80%;
    margin: 40px auto 0 auto;
    
  .year 
    color: color-black;
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 30px;

  .main 
    position: relative;
    padding-left: 20px;
    overflow: hidden;
    
    ul
      position: relative;
      padding: 0;
      
      li 
        list-style:none; 
        padding-left: 25px;
        font-size: 20px;
        color: color-grey;
        line-height: 30px;
        margin-bottom: 30px;
        background: url(../img/about4_icon.png) left center no-repeat;
      
      li:last-child 
        margin-bottom: 0px;

  .line 
    width: 1px;
    height: 100%;
    background-color: #999;
    position: absolute;
    left: 26px;
    z-index: 0;