section#main
    padding: 30px;
    margin-top: -70px;
    position: relative;
    float: left;
    clear: both;
    width: 100%;
    box-sizing: border-box;
    -webkit-transition: margin-top 0.5s; /* Safari */
    transition: margin-top 0.5s;


.post-holder 
    background: #f0f4f5;
    color: color-grey;


article 
    padding: 40px 40px 0px 40px;
    text-align: center;


article h1
    color: color-black;
    font-size: 2em;
    margin: 0;
    padding: 0;

article.post
    h1 
        font-size: 1.9em;
        line-height: 2em;
        clear:both
    h2
        font-size: 1.8em;
        line-height: 1.9em;
        clear:both
    h3
        font-size: 1.7em;
        line-height: 1.8em;
        clear:both
    h4
        font-size: 1.6em;
        line-height: 1.7em;
        clear:both
    h5
        font-size: 1.5em;
        line-height: 1.6em;
        clear:both

article p 
    font-size: 18px;
    line-height: 1.7;
    margin-top: 18px;

article.post
    text-align: left

article.post blockquote 
    padding: 1px 20px;
    border-left: 4px solid #ddd;
    margin: 0;

article.post code
    font-size: 20px;
    color: #00a3cf;

article.post img
article.post gllary-multiply img
article.post gllary-single img
    max-width: 80%;
    margin: 0 auto;
    display: block 

article .gllary-single, article .gllary-multiply 
    display: inline-block;
    position: relative;
    width: 100%;
    overflow: hidden;


article .gllary-single .video-js 
    width: 100%;

article.article-type-post img
    width: 90%;

article .gllary-multiply img 
    max-width: 33.3%;
    float: left;


.inner-wrap 
    margin-top: 26px;
    clear: both;
    font-size: 12px;


.inner-wrap a 
    text-decoration: none;
    color: color-grey;
    transition: all 0.14s ease-in-out;
    margin-left: 3px;


.inner-wrap i 
    margin-left: 10px;
    margin-right: 3px;


.post-divide 
    border-color: #f0f4f5;
    margin: 74px auto 0;
    width: 50%;
    max-width: 300px;
    margin: 54px auto 0;
    border-top: 2px solid #e4ebed;
    clear:both


nav.pagination 
    text-align: center;
    border-top: 1px solid #eee;
    padding-bottom: 30px;


nav.pagination span, nav.pagination a 
    display: inline-block;
    position: relative;
    margin: 0 10px;
    padding: 0 10px;
    line-height: 30px;
    color: color-black;

#article-nav
    padding-bottom: 2em

.article-nav-left
    float: left

.article-nav-right
    float: right
