


footer
    color: #eeeeee;
    padding: 30px;
    position: relative;
    clear: both;
    line-height: 2;
    font-size: 13px;
    text-shadow: 1px 1px 3px color-grey;

    .copyright
        float: left;

    .analysis
        float: right;

footer .scroll-top 
    position: absolute;
    top: 0;
    left: 50%;
    width: 2em;
    margin-left: -1em;
    padding: 3px 6px 6px 0;
    display: block;
    cursor: pointer;
    padding-bottom: 16px;
    text-align: center;
    color: #eeeeee;
    font-size: 2em;
    line-height: 1em;
    -webkit-transition: all 0.14s ease-in-out;
    -moz-transition: all 0.14s ease-in-out;
    -o-transition: all 0.14s ease-in-out;
    transition: all 0.14s ease-in-out;

