@media mq-mobile
    .index-profile
        width: 90%;
        margin-left: 5%;


@media mq-mobile
    .profile-img
        width: 40%;
        margin-left: 30%;
        margin-right: 30%;

@media mq-mobile
    .profile-name
        font-size: 1.6em;

@media mq-mobile
    .profile-motto
        font-size: 1.1em;

@media mq-mobile
    section#main
        padding: 10px

@media mq-mobile
    article
        padding: 10px 10px 0px 10px;

@media mq-mobile
    article.post
        h1
            font-size: 1.7em;
            line-height: 1.8em;
        h2
            font-size: 1.6em;
            line-height: 1.7em;
        h3
            font-size: 1.5em;
            line-height: 1.6em;
        h4
            font-size: 1.4em;
            line-height: 1.5em;
        h5
            font-size: 1.3em;
            line-height: 1.4em;

@media mq-mobile
    article.post img
    article.post gllary-multiply img
    article.post gllary-single img
        max-width: 100%;