@media mq-tablet
    .index-profile
        width: 80%;
        margin-left: 10%;

@media mq-tablet
    .profile-name
        font-size: 2em;

@media mq-tablet
    .profile-motto
        font-size: 1.3em;

@media mq-tablet
    article.post
        h1
            font-size: 1.7em;
            line-height: 1.8em;
        h2
            font-size: 1.6em;
            line-height: 1.7em;
        h3
            font-size: 1.5em;
            line-height: 1.6em;
        h4
            font-size: 1.4em;
            line-height: 1.5em;
        h5
            font-size: 1.3em;
            line-height: 1.4em;

@media mq-tablet
    article.post img
    article.post gllary-multiply img
    article.post gllary-single img
        max-width: 95%;